body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:801px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:701px;
  height:1423px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:1423px;
}
#u2 {
  position:absolute;
  left:2px;
  top:704px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:131px;
  top:145px;
  width:640px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:377px;
  top:151px;
  width:150px;
  height:28px;
  font-size:24px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:701px;
  top:151px;
  width:50px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:751px;
  top:159px;
  width:8px;
  height:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:139px;
  top:152px;
  width:163px;
  height:26px;
  font-size:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:131px;
  top:264px;
  width:640px;
  height:161px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:161px;
}
#u14 {
  position:absolute;
  left:2px;
  top:72px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:150px;
  top:282px;
  width:270px;
  height:28px;
  color:#666666;
  line-height:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:176px;
  top:324px;
  width:424px;
  height:72px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  line-height:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:72px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:131px;
  top:425px;
  width:640px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:336px;
  top:425px;
  width:10px;
  height:100px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:100px;
}
#u22 {
  position:absolute;
  left:564px;
  top:425px;
  width:10px;
  height:100px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:100px;
}
#u23 {
  position:absolute;
  left:131px;
  top:425px;
  width:209px;
  height:100px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:163px;
  top:462px;
  width:148px;
  height:26px;
  font-size:22px;
  color:#CCCCCC;
  text-align:center;
  line-height:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:382px;
  top:462px;
  width:148px;
  height:26px;
  font-size:22px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:597px;
  top:462px;
  width:148px;
  height:26px;
  font-size:22px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:131px;
  top:265px;
  width:640px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:570px;
  top:425px;
  width:201px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:597px;
  top:342px;
  width:150px;
  height:54px;
  font-size:23px;
  color:#999999;
  line-height:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:131px;
  top:185px;
  width:640px;
  height:80px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:140px;
  top:195px;
  width:90px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:446px;
  top:195px;
  width:294px;
  height:60px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:290px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:260px;
  top:208px;
  width:180px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  line-height:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:34px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:446px;
  top:195px;
  width:294px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:131px;
  top:525px;
  width:640px;
  height:752px;
  overflow:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:752px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u48 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:28px;
  top:34px;
  width:231px;
  height:36px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  line-height:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:28px;
  top:77px;
  width:270px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  line-height:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:28px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:28px;
  top:155px;
  width:560px;
  height:56px;
  font-size:20px;
  line-height:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:56px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:320px;
  width:640px;
  height:290px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u56 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:28px;
  top:354px;
  width:507px;
  height:36px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  line-height:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:36px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:28px;
  top:397px;
  width:441px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  line-height:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:28px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:28px;
  top:475px;
  width:560px;
  height:56px;
  font-size:20px;
  line-height:28px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:56px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:610px;
  width:640px;
  height:320px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u64 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:28px;
  top:644px;
  width:507px;
  height:36px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  line-height:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:36px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:28px;
  top:687px;
  width:521px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  line-height:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:28px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:28px;
  top:765px;
  width:560px;
  height:56px;
  font-size:20px;
  line-height:28px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:56px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:519px;
  top:352px;
  width:100px;
  height:35px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:574px;
  top:644px;
  width:40px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  text-align:right;
  line-height:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:28px;
  top:128px;
  width:221px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:23px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:28px;
  top:448px;
  width:331px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:23px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:28px;
  top:738px;
  width:331px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#838383;
  line-height:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:23px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:28px;
  top:260px;
  width:560px;
  height:23px;
  font-size:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:23px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:28px;
  top:232px;
  width:471px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:23px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:28px;
  top:552px;
  width:471px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:23px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:28px;
  top:870px;
  width:560px;
  height:23px;
  font-size:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:23px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:28px;
  top:842px;
  width:471px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:23px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:315px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  position:absolute;
  left:131px;
  top:847px;
  visibility:hidden;
}
#u92_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u92_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:216px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:216px;
}
#u94 {
  position:absolute;
  left:2px;
  top:100px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:216px;
  width:640px;
  height:216px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:216px;
}
#u96 {
  position:absolute;
  left:2px;
  top:100px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:30px;
  top:20px;
  width:580px;
  height:392px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:392px;
}
#u98 {
  position:absolute;
  left:2px;
  top:188px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:30px;
  top:20px;
  width:579px;
  height:392px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:392px;
}
#u100 {
  position:absolute;
  left:2px;
  top:188px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:29px;
  top:172px;
  width:581px;
  height:88px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:88px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:31px;
  top:20px;
  width:579px;
  height:150px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:150px;
}
#u104 {
  position:absolute;
  left:2px;
  top:67px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:31px;
  top:262px;
  width:579px;
  height:150px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:150px;
}
#u106 {
  position:absolute;
  left:2px;
  top:67px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:123px;
  top:194px;
  width:469px;
  height:43px;
  font-size:38px;
  color:#666666;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:43px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:123px;
  top:113px;
  width:469px;
  height:43px;
  font-size:38px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:43px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:123px;
  top:38px;
  width:469px;
  height:43px;
  font-size:38px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:43px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:123px;
  top:276px;
  width:469px;
  height:43px;
  font-size:38px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:43px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:123px;
  top:351px;
  width:469px;
  height:43px;
  font-size:38px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:43px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:77px;
  top:200px;
  width:10px;
  height:31px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u117_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u117_end {
  position:absolute;
  left:-5px;
  top:14px;
  width:20px;
  height:18px;
}
#u117_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:31px;
}
#u118 {
  position:absolute;
  left:64px;
  top:214px;
  width:10px;
  height:16px;
  -webkit-transform:rotate(324deg);
  -moz-transform:rotate(324deg);
  -ms-transform:rotate(324deg);
  transform:rotate(324deg);
}
#u118_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u118_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u118_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:16px;
}
